@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --cor-primaria: #222831;
    --cor-secundaria: #948979;
    --cor-titulo: #CFC1AB;
    --cor-letra: #E8D6C1;
    --cor-hover: #393E46;
    --cor-header: #1E242B;
    --fonte-primaria: 'Exo 2', sans-serif;
    --font-secundaria: 'Ubuntu', sans-serif;

}

*{
    padding: 0;
    margin: 0;
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

.cabecalho{
    display: flex;
    padding: 25px;
    align-items: center;
    gap: 25px;
    background-color: var(--cor-header);
    border-bottom: 2px solid var(--cor-titulo);
}

.cabecalho__titulo{
    color: var(--cor-titulo);
    font-size: 35px;
    font-family: var(--fonte-primaria);
}

.cabecalho__links{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.cabecalho__links__ancora{
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: var(--cor-titulo);
    font-size: 20px;
}

.cabecalho__links__ancora:hover{
    color: var(--cor-secundaria);
}

body{
    background-color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--cor-titulo);
    font-family: "Exo 2", sans-serif;
    font-size: 40px;
}

h2{
    color: var(--cor-titulo);
    font-family: "Exo 2", sans-serif;
    font-size: 35px;
}

p{
    color: var(--cor-letra);
    font-family: var(--font-secundaria);
    font-size: 30px;
    padding-left: 6%;
    padding-right: 6%;
}

.introducao__imagem{
    width: 55vh;
    height: auto;
}

.div{
    display: flex;
    flex-direction: column;
}

.introducao{
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    flex: 1;
    margin-top: 30px;
}
 
.introducao__apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 40px;
}

.introducao__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px ;
}

.introducao__texto__titulo{
    margin-bottom: 15px;
}

.introducao__texto__ancora{
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
    font-size: 30px;
    margin-top: 25px;
}

.introducao__texto__ancora:hover{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.rodape{
    display: flex;
    background-color: var(--cor-letra);   
    justify-content: center;
}

.rodape__texto{
    color: var(--cor-primaria);
    font-size: 30px;
    padding: 10px;
}

/* ------------------ PAGINA SOBRE ------------------ */

.sobre__cabecalho{
    display: flex;
    padding: 25px;
    background-color: var(--cor-primaria);
}

.sobre__cabecalho__voltar{
    font-size: 30px;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
}

.sobre__cabecalho__voltar:hover{
    color: var(--cor-secundaria);
    text-decoration: none;
}

.sobre__conteudo{
    display: flex;
    justify-content: center;
}

.sobre__titulo{
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

.sobre__conteudo__texto{
    display: flex;
    align-items: center;
    padding: 50px; 
    min-height: 80vh;
}

.sobre__imagem{
    width: 50%;
    height: auto;
}

.sobre__conteudo__titulo{
    box-sizing: border-box;
}

.sobre__rodape{
    display: flex;
    background-color: var(--cor-letra);   
    justify-content: center;
}

.sobre__rodape__texto{
    color: var(--cor-primaria);
    font-size: 30px;
    padding: 10px;
}

/* -------------- PAGINA CONTATO ------------ */

.contato__cabecalho{
    display: flex;
    padding: 25px;
    background-color: var(--cor-primaria);
}
.contato__cabecalho__voltar{
    font-size: 30px;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
}

.contato__cabecalho__voltar:hover{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.contato__titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.contato__subtitulo{
    display: flex;
    justify-content: center;
    text-align: center;
}

.contato__subtitulo__letra{
    color: var(--cor-secundaria);
}

 .contato__conteudo{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    /* margin-bottom: 50px;  */
 }

 .contato__conteudo__botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 40px;
    margin-bottom: 30px;
 }



 .contato__conteudo__botao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
    font-size: 35px;
    text-decoration: none;
    border: solid 4px var(--cor-letra);
    padding: 10px;
    border-radius: 10px;
 }

 .contato__conteudo__botao__2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
    font-size: 35px;
    text-decoration: none;
    border: solid 4px var(--cor-letra);
    padding: 10px;
    border-radius: 10px;
 }

 .contato__conteudo__botao:hover{
    color: var(--cor-primaria);
    background-color: var(--cor-letra);
 }

.contato__rodape{
    display: flex;
    background-color: var(--cor-letra);   
    justify-content: center;
}

.contato__rodape__texto{
    color: var(--cor-primaria);
    font-size: 30px;
    padding: 10px;   
}

/* ------------ PAGINA PROJETOS ------------ */


/* .projetos__rodape{
    display: flex;
    background-color: var(--cor-letra);
    justify-content: center;
}

.projeto__rodape__texto{
    color: var(--cor-primaria);
    font-size: 30px;
    padding: 10px;
} */

@media (max-width: 900px){
    .introducao__apresentacao{
        flex-direction: column;
    }

}

@media (max-width: 1600px){
    .contato__conteudo{
        padding: 5%;
    }

     .sobre__conteudo__texto{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .sobre__imagem{
        width: 50%;
    }

     .contato__conteudo__botoes{
        justify-content: center;
    } 
}

