@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #222831;
    --cor-secundaria: #948979;
    --cor-letra: #DFD0B8;
    --cor-hover: #393E46;
    --fonte-primaria: 'Exo 2', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

.cabecalho{
    display: flex;
    padding: 25px;
    align-items: center;
    gap: 25px;
    background-color: var(--cor-primaria);
}

.cabecalho__titulo{
    color: var(--cor-letra);
    font-size: 35px;
    font-family: var(--fonte-primaria);
}

.cabecalho__links{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}



.cabecalho__links__ancora{
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
    font-size: 20px;
}

.cabecalho__links__ancora:hover{
    color: var(--cor-secundaria);
}

body{
    background-color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--cor-letra);
    font-family: "Exo 2", sans-serif;
    font-size: 40px;
}

h2{
    color: var(--cor-letra);
    font-family: "Exo 2", sans-serif;
    font-size: 35px;
}

p{
    color: var(--cor-letra);
    font-family: "Exo 2", sans-serif;
    font-size: 30px;
    padding-left: 6%;
    padding-right: 6%;
}

.introducao__imagem{
    width: 55vh;
    height: auto;
}

.introducao{
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    flex: 1;
}
 
.introducao__apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 40px;
}

.introducao__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px ;
}

.introducao__texto__titulo{
    margin-bottom: 15px;
}

.introducao__texto__ancora{
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);
    font-size: 30px;
    margin-top: 25px;
}

.introducao__texto__ancora:hover{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.rodape{
    display: flex;
    background-color: var(--cor-letra);   
    justify-content: center;
}

.rodape__texto{
    color: var(--cor-primaria);
    font-size: 30px;
    padding: 10px;
}

/* ------------------ PAGINA SOBRE ------------------ */

.sobre__cabecalho{
    display: flex;
    padding: 25px;
    background-color: var(--cor-primaria);
}

.sobre__cabecalho__ancora{
    font-size: 30px;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra);

}

.sobre__cabecalho__ancora:hover{
    color: var(--cor-secundaria);
    text-decoration: none;
}

.sobre__conteudo{
    display: flex;
    justify-content: center;
}

.sobre__titulo{
    font-size: 60px;
    text-align: center;
}

.sobre__conteudo__texto{
    display: flex;
    align-items: center;
    padding: 50px; 
    min-height: 80vh;
}

.sobre__imagem{
    width: 80vh;
    height: auto;
}

.sobre__conteudo__titulo{
    box-sizing: border-box;
}

.sobre__rodape{
     display: flex;
    background-color: var(--cor-letra);   
    justify-content: center;
}

.sobre__rodape__texto{
    color: var(--cor-primaria);
    font-size: 30px;
    padding: 10px;
}
